@import url(//db.onlinewebfonts.com/c/05b45c19e2f09f11f6f56c1ed5e0e981?family=RussianRail+G+Pro);

.page {
  /* min-width: 1100px;
  max-width: 1600px; */
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-image: url(./images/sapsan.jpg);
  /* background-image: url(./images/sapsanLastochka.jpg);*/
  /* background-repeat: no-repeat;
  background-size: 100%;  */
}

.header {
  margin: 0 auto;
  background-color: white;
  height: 50px;
  box-shadow: 2px 2px 5px rgb(122 122 122 / 50%);
}

.header__logo {
  margin: 5px 30px;
  max-width: 90px;
  max-height: 40px;
}

.header__block {
  display: flex;
  justify-content: flex-end;
}

.content {
  margin: 0 auto;
  background-color: white;
  max-width: 450px;
  min-height: 280px;
  border-radius: 13px;
}
/* 
@media screen and (max-width:568px) {
  .content {
    max-width: 450px;
  }
} */

.content__titile {
  font-family: "RussianRail G Pro";
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  font-weight: 600;
  color: #f3513f;
}

@media screen and (max-width:768px) {
  .content__titile {
    margin-top: 100px;
  }
}

.content__subtitle {
  font-family: "RussianRail G Pro";
  margin: 0px 0 20px 0;
  font-size: 20px;
  text-align: center;
}

.content__input {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 250px;
}

.content__login {
  padding: 0 0 0 5px;
  height: 22px;
  margin-bottom: 5px;
}

.content__password {
  padding: 0 0 0 5px;
  height: 22px;
  margin-bottom: 5px;
}

.content__btn {
 cursor: pointer;
}

.content__block {
  text-align: center;
}

.content__info {
  max-width: 400px;
  margin: 20px auto;
}

.loginBox {
  margin-top: 250px;
}

